services:
  postgres:
    image: postgres:15
    container_name: postgres
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: letrino-api
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: letrino
      TZ: UTC
      PGTZ: UTC
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
